@model punto.Models.itbpagolugares

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear</title>
</head>
<body>
    <div>
        @{
        int i = 0;
        i++;
        @i
        }

        @Html.Label("ID Voto")
        @Html.TextBox("id_voto", " ",
         new{ placeholder="ID Voto",@class="textos" }
        )
        <br />
        @Html.Label("Titulo")
        @Html.TextBox("titulo", " ",
         new{ placeholder="Titulo",@class="textos" }
         )
        
        <br />

        /***********************************/
        @using (Html.BeginForm()){
            @Html.ValidationSummary()
            
        @Html.LabelFor(a=>a.idlugarpagos)
        @Html.TextBoxFor(a=>a.idlugarpagos)
        @Html.ValidationMessageFor(a => a.idlugarpagos, "", new { style="color:red"})
         <input type="submit" value="enviar"/>      
         }

    </div>
</body>
</html>
