@model punto.Models.tbpago

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear</title>
</head>
<body>
    <div>
       

        @Html.Label("idpago")
        @Html.TextBox("nombre", "",
         new{ placeholder="Tu nombre",@class="textos" }
        )
        @{
            var lista = new List<SelectListItem>(){
                new SelectListItem(){ Text="tarjeta", Value="1"},
                new SelectListItem(){ Text="efectivo", Value="0"},
        };
        }
        @Html.DropDownList("algo",lista)
        <br />

       
        
        @using (Html.BeginForm()){
            @Html.ValidationSummary()
                 
         }
            
            
             <br />
        @Html.LabelFor(a=>a.nombre)
        @Html.TextBoxFor(a=>a.nombre)
        @Html.ValidationMessageFor(a=>a.nombre)
           <br />
        @Html.LabelFor(a=>a.imagen)
        @Html.TextBoxFor(a=>a.imagen)
        @Html.ValidationMessageFor(a=>a.imagen)
         <br />
         @Html.LabelFor(a=>a.fechacreacion)
        @Html.TextBoxFor(a=>a.fechacreacion)
        @Html.ValidationMessageFor(a=>a.fechacreacion)
           <br />
        @Html.LabelFor(a=>a.fechamodificacion)
        @Html.TextBoxFor(a=>a.fechamodificacion)
        @Html.ValidationMessageFor(a=>a.fechamodificacion)
        <input type="submit" value="enviar"/>    
       

    </div>
</body>
</html>