@model punto.Models.tbtelefonos


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear</title>
</head>
<body>
    <div>
        @using(Html.BeginForm())
        {
            @Html.ValidationSummary()
        @Html.LabelFor(a=>a.numero)
        @Html.TextBoxFor(a=>a.numero)
        @Html.ValidationMessageFor(a => a.numero, "", new { style="color:red"})
<br />
            <br />
        @Html.LabelFor(a=>a.tipo)
        @Html.TextBoxFor(a=>a.tipo)
        @Html.ValidationMessageFor(a => a.tipo, "", new { style="color:red"})
<br />
            <br />
        @Html.LabelFor(a=>a.codigoarea)
        @Html.TextBoxFor(a=>a.codigoarea)
        @Html.ValidationMessageFor(a => a.codigoarea, "", new { style="color:red"})
<br />
            <br />

              @Html.LabelFor(a=>a.idlugares)
              //@Html.DropDownListFor(a=>a.tblugares,Model.tblugares)
 <br />
            <br />
                       
           @Html.LabelFor(a=>a.fechacreacion)
        @Html.TextBoxFor(a=>a.fechacreacion)
        @Html.ValidationMessageFor(a => a.fechacreacion, "", new { style="color:red"})   
            <br />
            <br />
              @Html.LabelFor(a=>a.fechamodificacion)
        @Html.TextBoxFor(a=>a.fechamodificacion)
        @Html.ValidationMessageFor(a => a.fechamodificacion, "", new { style="color:red"}) 
            
 <br /> 
            <br />     
                   @Html.LabelFor(a=>a.estado)     
            var lista=new List<SelectListItem>(){
                new SelectListItem(){ Text="True", Value="1"},
                new SelectListItem(){ Text="False", Value="0"},
            };
          
       @Html.DropDownListFor(a=>a.estado,lista)
            <br />
            <br />

        <input type="submit"value="enviar" />
        }

    </div>
</body>
</html>