@model punto.Models.tbgaleria

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear</title>
</head>
<body>
    <div>
        @using(Html.BeginForm())
        {
            @Html.Name("Registro Galeria")

            
            @Html.ValidationSummary()
            @Html.LabelFor(a=>a.nombre)
            @Html.TextBoxFor(a=>a.nombre)
            @Html.ValidationMessageFor(a => a.nombre, "", new { style="color:red"})
            <br />
            @Html.LabelFor(a=>a.descripcion)
            @Html.TextBoxFor(a=>a.descripcion)
            @Html.ValidationMessageFor(a => a.descripcion, "", new { style="color:red"})
             <br />
            @Html.LabelFor(a=>a.idlugares)
            @Html.TextBoxFor(a=>a.idlugares)
            @Html.ValidationMessageFor(a => a.idlugares, "", new { style="color:red"})
            <br />
           @Html.LabelFor(a=>a.fechacreacion)
            @Html.TextBoxFor(a=>a.fechacreacion)
            @Html.ValidationMessageFor(a => a.fechacreacion, "", new { style="color:red"})   
            <br />
            
            @Html.LabelFor(a=>a.fechamodificacion)
            @Html.TextBoxFor(a=>a.fechamodificacion)
            @Html.ValidationMessageFor(a => a.fechamodificacion, "", new { style="color:red"}) 
            <br />   
            @Html.LabelFor(a=>a.estado)        
            var lista=new List<SelectListItem>(){
                new SelectListItem(){ Text="True", Value="1"},
                new SelectListItem(){ Text="False", Value="0"},
            };
            @Html.DropDownListFor(a=>a.estado,lista)
            <br />
            <input type="submit"value="enviar" />
        }


        <!-- vista JULIO MILGUER, galeria-->
        <table border="1">
            <tr>
                <td>@Html.Label("idimagen")</td>
                <td>
                    @{var listaimagen = new List<SelectListItem>(){
                new SelectListItem(){ Text="imagen1", Value="1"}
                          };   }
                    @Html.DropDownList("DLimagen", listaimagen)
                </td>
            </tr>
            <tr>
                <td> @Html.Label("nombre")</td>
                <td>@Html.TextBox("tbnombre")</td>

            </tr>
            <tr>
                <td> @Html.Label("descripcion")</td>
                <td>@Html.TextBox("tbdescripcion")</td>

            </tr>
            <tr>
                <td> @Html.Label("idlugares")</td>
                <td>
                    @{var listalugares = new List<SelectListItem>(){
                new SelectListItem(){ Text="lugar1", Value="1"}
                          };   }
                @Html.DropDownList("DLlugares", listalugares)
            </td>

        </tr>
        <tr>
            <td> @Html.Label("fecha creacion")</td>
            <td>@Html.TextBox("tbfechacreacion")</td>

        </tr>
        <tr>
            <td> @Html.Label("fecha modificacion")</td>
            <td>@Html.TextBox("tbfechamodificacion")</td>

        </tr>
        <tr>
            <td> @Html.Label("estado")</td>
            <td>@Html.TextBox("tbestado")</td>

        </tr>
        <tr>
            <td colspan="2"> <input type="submit" value="enviar" /></td>


        </tr>





    </table>

    </div>
</body>
</html>